*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333E48;
  }
  img{
    margin-left:33% ;
    margin-top: 10px;
  }
  .box1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid black;
    height: 600px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
  }input{
    font-size: 20px;
  }
  .box1 p{
    text-align: right;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 17px;
  }
  .box1>p>a{
    color: blue;
    text-decoration: none;
  }
  .box1 h1{
    margin-left: 50px;
    font-weight: lighter;
  }
  #email{
    width: 80%;
    height: 50px;
    margin-left: 50px ;
    margin-top: 10px;
    border-color: #00b044;
    margin-bottom: 15px;
  }
  label{
    margin-left: 50px ;
  }
  #btn1{
    width: 80%;
    height: 45px;
    margin-left: 50px ;
    margin-top: 10px;
    background-color: #1cdf40;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
  }
  #btn1:hover{
    background-color: #0cff69;
  }
  #btn1:active{
    background-color: blueviolet;
  }
  .btn2{
    width: 80%;
    height: 45px;
    margin-left: 50px ;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 15px;
    color: black;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .box2{
    height: 60px;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  .box2>div{
    /* border: 1px solid blue; */
    height: 50px;
    width: 50px;
    margin-top: 6px;    
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .box2>div:hover{
    background-color: rgba(231, 231, 231, 0.519);
  }
  .box2>div>img{
    height: 35px;
    width: 35px;
    margin-left: 5px ;
  }
  .box3{
    height: 10px;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  .box3>div{
    /* border: 1px solid blue; */
    height: 20px;
    width: 50px; 
    font-size: 12px;   
    margin-left: 10px;
  
  }